.book-card{
  margin: 16px;
  height: 185px;
  width: 256px;
  display: flex;
  img{
    height: 185px;
    width: 122px;
  }
}
.book-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.order-btn{
  width: 122px;
  height: 32px;
  background: #B5B5B5;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.show-more-btn{

  width: 185px;
  height: 48px;
  background: #FF5D4F;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  font-weight: 600;
}