.book-card{
  margin: 16px;
  height: 185px;
  width: 256px;
  display: flex;
  color: black;

  img{
    margin: 0 5px;
    height: 185px;
    width: 122px;
  }
  p{
    text-decoration: none;
  }
}
