footer {
  background: #D3EBF9;
  padding: 40px 0;
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    .link-wrapper {
      display: flex;
      .column {
        width: 180px;
        &:nth-child(2) {
          margin: 0 30px;
        }
        .title {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 20px;
          color: #000000;
        }
        .footer-list{
          padding: 0;
        }
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: #000000;
            font-size: 16px;
          }
          &:nth-child(2) {
            margin: 8px 0;
          }

        }
      }
    }
    .icon-wrapper{
      .icon-title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 28px;
        color: #000000;
      }
      a{
        &:first-child{
          margin-right: 16px;
        }

      }
    }
  }
}

