@import "/src/assets/fonts/OpenSans/fonts.css";
@import "assets/fonts/OpenSans/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
.empty{
  margin: 150px auto;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #B5B5B5;
}